li{
	background-color: #cd853f;
	display: inline-block;
	margin: 5px 5px;
	padding: 5px 1rem;
}

a{
	color: white;
	font-family: "Barlow Condensed", "futura PT";
	text-decoration: none;
}

a:visited{
	color: gray;

}

a:hover{

	color: #ff4500;
}

a:active{
	color: #ffff00;
}

header{
	padding-top: 1rem;
	text-align: center;
}

.hero{
	background-image: url("images/hero.jpg");
	background-position: center 75%;
	background-size: cover;
	color: white;
	padding: 10%;
	text-align: center;
}
		
h1 {
	font-family: Rancho, Pacifico, Futura PT;
	font-size: 6rem;
	font-weight: normal;
	margin-bottom: 0;
	text-shadow: 3px 2px 2px black;
}

h2{
font-size: 19px;
font-weight: normal;
margin-top: 0;
text-transform: uppercase;
}

 body{
 	font-family: Magra;
 	font-size: 18px;
 	font-weight: normal;
 	margin: 0;

 }
